
#main
{
	width:1024px;
	height:600px;
	min-width:1024px;
	min-height:600px;
	font-family: "Microsoft YaHei" ! important;
	background-color:#f1f1f1;
}

.close
{
	position: absolute;
	left: 10px;
	top:10px;
}
.shadow
{
	box-shadow:3px 0px 3px rgba(0,0,0,0.5);
}

.mask
{
	filter:alpha(opacity=0);
	opacity:0;
	position:absolute;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
}

input

#open
{
	position:relative;
}

#sidebar
{	
	float:left;
	width:18%;
	height:100%;
	position:relative;
	background-color:#f5f5dc;
	border-top-right-radius: 6px;
}

.sidebar-panel
{
	float:left;
	width:84%;
	height:100%;
	overflow:hidden;
	position:relative;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
}

#panel1
{
	background-color: #0288d1;
}

#panel2
{
	display:none;
	background-color:#689f38;
}

#tabs
{
	float:left;
	width:14%;
	height:100%;
	position:relative;
	margin:0px;
}

.tab img
{
	margin:auto;
	display:none;
}
#meun_elementkind>li>img
{
	float: right; 
	margin-right:10px;
}

.tab
{
	position:relative;
	width:100%;
	height:9%;
	margin-top: 40px;
	margin-bottom: -41px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	box-shadow:3px 3px 3px rgba(0,0,0,0.5);
}

#tab1
{
	background-color: #0288d1;
}

#tab2
{
	background-color:#689f38;
}
 .selected
 {
 	z-index:1;
 }
.sub_item
{
	position: relative;
	font-size:1.5em;
	font-weight:normal;
	padding:15px;
	color: white;
}
.sub_item>img
{
	display:none;
	float:right;
	transition:transform 0.5s ease-in-out;
}
.sub_item_rotate
{
	transform:rotate(-90deg);
}
.sub_item+ul
{
	display:none;
}
.sub_item+ul>li
{
	font-weight:lighter;
	color: white;
	padding:10px 0px 10px 40px;
	transition:background-color 0.3s ease-in-out,padding-left 0.3s ease-in-out;
}

#open_file
{
	position: relative;
}
#panel1 .sub_item+ul>li
{
	background-color: #03a9f4;
}

#panel2 .sub_item+ul>li
{
	background-color: #8bc34a;
}

ul
{
	list-style:none;
	padding-left:0px;
}

.sub_item+ul>li:hover
{
	font-weight:lighter;
	color:white;
	padding:10px 0px 10px 20px;
}

#panel1 .sub_item+ul>li:hover
{
	background-color:#81d4fa;
}

#panel2 .sub_item+ul>li:hover
{
	background-color:#c5e1a5;
}
#panel1 .sub_item+ul>.focus
{
	/*list-style: circle inside;*/
	border-left:7px solid #b3e5fc;
}

#panel2 .sub_item+ul>.focus
{
	/*list-style: circle inside;*/
	border-left:7px solid #cdecd8;
}

#pad
{
	overflow:hidden;
	position:relative;
	width:82%;
	height:100%;
}
.paper
{
	position:absolute;
	left:4%;
	top:4%;
	padding:3em;
	box-shadow: 2px 2px 3px rgba(0,0,0,0.5);
	background-color: #fefefe;
}

.paper h1
{
	margin-top: 0px
}

.paper form
{
	z-index:2;
	position: absolute;
	right: 20px;
	top: 25px;
	padding: 20px;
	display: none;
}

.paper .canvas_group
{
	position: relative;
}
.paper canvas.overlay
{
	position: absolute;
	left:0px;
	top:0px;
}


#msg_new_file
{
	display:none;
	position: absolute;
	z-index:10;
	left: 150px;
	top: 150px;
	box-shadow: 2px 2px 3px rgba(0,0,0,0.5);
	background-color: #fefefe;
	padding:40px 20px 20px;
}
.header
{
	position: absolute;
	right: 15px;
	top: -22px;
	width: 44px;
	height: 44px;
	background-color: #e84e40;
	border-radius: 22px;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}

.header img
{
	 width:100%;
	 height:100%
}

#control_pad{
	position:absolute;
	right:10px;
	bottom:10px;
	z-index:10;
}
#control_pad button{
	margin: 2px;
}
/*for perfectscrollbar*/
.ps-scrollbar-x-rail,.ps-scrollbar-y-rail
{
z-index:20;	
}