
#main
{
	width:1024px;
	height:600px;
	min-width:1024px;
	min-height:600px;
	font-family: "Microsoft YaHei" ! important;
}

#elementKind
{
	float:left;
	width:13%;
	height:100%;
	position:relative;	/*不加这一条，在chrome下overflow:auto工作不正常*/
	background: #0288d1;
}

#pad
{
	position:relative;
	float:left;
	width:70%;
	height:100%;
}
#canvas
{
	position:absolute;
}

#state
{
    position:absolute;
    right:0px;
    top:0px;
    width:40px;
    height:40px;
    background: #003366;
}
#elementList
{
	position:relative;
	/*不加这一条，在chrome下overflow:auto工作不正常*/
	float:left;
	background:rgb(37,142,205);
	width:17%;
	height:100%;
}

.sub_item
{
	font-size:1.5em;
	font-weight:normal;
	padding:15px;
	color: white;
}

li ul li
{

	font-weight:lighter;
	color: white;
	padding:10px 0px 10px 40px;
	background: #03a9f4;
}

ul
{
  list-style:none;
  padding-left:0px;
}

li ul li:hover
{
	font-weight:lighter;
	background:#b3e5fc;
	color:white;
	padding:10px 0px 10px 25px;
}

.message
{
  display: none;
  position: absolute;
  padding:16px 30px;
  color:white;
  left:0px;
  top:0px;
  background-color:rgb(62,0,208);
  box-shadow:5px 5px 5px rgba(0,0,0,0.5);
}


.message h2
{
  margin-left:0px;
}

.message p
{
  margin-left:20px;
}
